body {
  font-family: "Roboto";
  background-color: #efefef;
  font-size: 16px;
}

.container {
  width: 1024px;
  margin: auto;
  margin-bottom: 10px;
}

header {
  background-color: white;
  color: #f3735f;
  border-bottom: #f3735f 1px solid;
}

header img {
  margin-left: 50px;
  margin: 10px;
  width: 164px;
}

section {
  background-color: white;
  margin: 30px 60px;
  padding: 30px 60px;
  border-radius: 20px;
}
.baseline {
  text-align: center;
  font-size: small;
  font-weight: normal;
  padding-top: 10px;
}
.time {
  margin-left: 174px;
  margin-right: 170px;
  padding: 10px 50px;
  border-radius: 10px;
  background-color: lightslategrey;
  color: white;
}
main img {
  width: 210px;
  height: 210px;
  object-position: center;
  border-radius: 12px;
  margin-right: 20px;
  margin-top: 40px;
  margin-left: 25px;
}
ul {
  list-style: disc;
}
li {
  line-height: 25px;
}
p {
  line-height: 22px;
  margin: 15px 0px;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #393c6c;
}
h2 {
  font-size: 30px;
  font-weight: bold;
  color: #f3735f;
  margin-top: 70px;
  margin-bottom: 20px;
}
h3 {
  font-size: 18px;
  font-weight: bold;
  color: white;
  line-height: 22px;
  text-align: center;
}
h4 {
  font-weight: bold;
}
